<div class="panel">
    <div class="panel-header">
        <strong>Ventas</strong>
    </div>
    <div class="panel-content">
        <h3 class="block">Editar datos Venta</h3>

	<form class="tab-pane active form-horizontal" ng-submit="update()">

	<div class="form-group">
	    <label class="control-label col-md-2">ci/nit<span class="required">*</span></label>
	    <div class="col-md-10">
	  		<input type="text" required="" class="form-control" placeholder=ci/nit ng-model="sell.ci">
	    </div>
	</div>

	<div class="form-group">
	    <label class="control-label col-md-2">fecha venta<span class="required">*</span></label>
	    <div class="col-md-10">
	  		<input type="date" class="form-control" placeholder="dd/mm/aaaa" required ng-model="sell.date_sell">
	    </div>
	</div>

	<div class="form-group">
	    <div class="pull-right">
			<a class="btn btn-default" href="/#/sells">Volver</a>
			<button class="btn btn-primary" type="submit">Actualizar</button>
	    </div>
	</div>
	<br>
	</form> 
    </div>
</div>
