<div class="row" ng-model="sell">
    <div class="panel">
        <div class="panel-header">
            <strong>venta</strong>
        </div>
        <div class="panel-content">
            
        <div class="btn-group">
          <a class="btn btn-primary" href="#sells/{{sell.id}}/add">agregar Producto</a>
          <a ng-if="isAdmin" class="btn btn-primary" href="#sells/{{sell.id}}/edit"> editar</a>
          <button ng-if="isAdmin" class="btn btn-danger" ng-click="deleteSell(sell.id)">eliminar</button>
        </div>
        <h2> datos de la venta: </h2>
        <h3 > <strong>ci/nit: </strong> {{sell.ci}}</h3>
        <h3 > <strong>Fecha Venta:</strong> {{sell.date_sell}} </h3>
        <h3 > <strong>Total: </strong>   {{sell.total}} </h3>   
        <div class="pre-scrollable">
         <table class="table table-striped">
            <tr>
                <th>producto</th>
                <th>cantidad</th>
                <th>precio venta</th>
            </tr>
            <tr ng-repeat="product in sell.sell_details">
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
            </tr>
        </table>
        </div>
            <a class="btn btn-default" href="/#/sells">Volver</a>
        </div>
    
</div>

