<div class="panel">
    <div class="panel-content">
      <h3>Editar datos del Lote</h3>
      <br><br>
      <form class="tab-pane active form-horizontal" ng-submit="update()">
    <!--<div ng-include src="'/templates/users/_form.html'"></div>-->
    
        <div class="form-group">
        <label class="control-label col-md-2">fecha ingreso<span class="required">* </span> </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="dd/mm/aaaa" ng-model="lot.date_in" aria-describedby="basic-addon1">
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-md-2">fecha expiracion<span class="required">* </span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="dd/mm/aaaa" ng-model="lot.date_expiration">
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-md-2">costo ingreso <span class="required">* </span> </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="costo ingreso:" ng-model="lot.cost_in">
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-md-2">Cantidad Lote <span class="required">* </span> </label>
        <div class="col-md-10">
            <input type="number" class="form-control" placeholder="cantidad lote:" ng-model="lot.quantity_lot">
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-md-2">Porcentaje de ganancia<span class="required">* </span> </label>
        <div class="col-md-10">
            <input type="number" class="form-control" placeholder="cantidad lote:" ng-model="lot.percentage_gain">
        </div>
        </div>

        <div class="form-group">
            <div class="pull-right">
                <a class="btn btn-default" href="/sys/#/lots">Volver</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </div>
    <br>
    </form>           
    </div>
</div>