<div class="row">
    <div class="panel">
        <div class="panel-header">
            <strong>Lote</strong>
        </div>
        
        <div class="panel-content" ng-model="lot">
        <section class="container">
          <div class="btn-group">
          <a ng-if="isAdmin" class="btn btn-primary" href="{{'#/lots/'+ lot.id+ '/edit'}}">editar</a>
          <button ng-if="isAdmin" class="btn btn-danger" ng-click="deleteLot(lot.id)">eliminar</button>
        </div>
        </section>

        <h3 class="tittle">Datos del lote</h3>
        <div class="container row">
        <h2><strong>producto:</strong></h2> 
            <div class="container col s12">
              <h4><strong>nombre comercial:</strong> {{lot.product.comercialname}}</h3>
              <h4><strong>nombre generico:</strong> {{lot.product.genericname}}</h3>
            </div>
        </div>

        <table class="container table table-striped">
            <thead>
            <tr>
                <th>fecha ingreso</th>
                <th>fecha expiracion</th>
                <th>costo unitario</th>
                <th>cantidad</th>
                <th>lote disponible</th>
                <th>porcentaje de ganancia</th>
            </tr>
            </thead>
            <tbody>

                    <td>{{lot.date_in}}</td>
                    <td>{{lot.date_expiration}}</td>
                    <td>{{lot.cost_in}}</td>
                    <td>{{lot.quantity_lot}}</td>
                    <td>{{(lot.available)}}</td>
                    <td>{{lot.percentage_gain}}</td>
            </tbody>
        </table>
 
            
        <a class="btn btn-default" href="/#/lots">Volver</a>
        </div>
    </div>
</div>

