<div class="row">
    <div class="panel">
        <div class="panel-header">
            <strong>Usuarios</strong>
        </div>
        <div class="panel-content">
        <a class="btn btn-primary" href="#pharmacy"> Volver a Farmacias </a>
        <br/>
        <br/>
            
            <div class="pre-scrollable">
                <table class="table">
                	<thead>
                    <tr>
                        <th>email</th>
                        <th>rol Actual</th>
                        <th>cambiar a vendedor</th>
                    </tr>
                	</thead>
                	<tbody>
                    <tr ng-repeat="user in users">
                    <td>{{user.email}}</td>
                    <td>{{user.rolename}}</td>
                    <td><button class="btn btn-primary" ng-click="change_role(user.id)">cambiar</button></td>
                    </tr>
                	</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
