<div class="panel">
    <div class="panel-header">
        <strong ng-model="atq"> asignar {{atq.detail}}</strong>
    </div>
    <div class="panel-content">
        <div class="form-group">
            <label for="search">Buscar Por:</label>
            <label class="radio-inline">
                <input type="radio" ng-click="clearFilter()" ng-model="selectedFilter" value="code">Codigo</label>
            <label class="radio-inline">
                <input type="radio" ng-click="clearFilter()" ng-model="selectedFilter" value="comercialname">Nombre comercial</label>
            <label class="radio-inline">
                <input type="radio" ng-click="clearFilter()" ng-model="selectedFilter" value="genericname">Nombre generico</label>
            <label class="radio-inline">
                <input type="radio" ng-click="clearFilter()" ng-model="selectedFilter" value="line">Linea</label>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" id="search" ng-model="search[selectedFilter]" placeholder="Buscar por {{filters[selectedFilter]}}" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" ng-click="searchProduct(search[selectedFilter],selectedFilter)">Buscar</button>
                </div>
            </div>
        </div>
        <div class="pre-scrollable">
            <table class="table">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre comercial</th>
                    <th>Nombre generico</th>
                    <th>Precio unitario</th>
                    <th>Empresas</th>
                </tr>
                <tr ng-repeat="product in products | filter:{comercialname:filterProduct} | orderBy: 'nombre_comercial'">
                    <td>{{product.code}}</td>
                    <td>{{product.comercialname}}</td>
                    <td>{{product.genericname}}</td>
                    <td>{{product.unitprice}}</td>
                    <td>
                        <button data-toggle="modal" data-target="#MessageAtq" class="btn btn-success" ng-click="asign(product.id)">Asignar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<a ng-model="atq" class="btn btn-default" href="/#/atqs/{{atq.id}}">Volver</a>
</div>
<!-- Modal -->
  <div class="modal fade" id="MessageAtq" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body">
          <p ng-model="atq">asignando a {{atq.detail}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
