<div class="col-md-10">
<div class="panel">
    <div class="panel-header">
        <strong>Acciones terapeuticas</strong>
    </div>
    <div class="panel-content">
        <h3 class="block">Nueva Accion Terapeutica</h3>
		<form class="tab-pane active form-horizontal" ng-submit="save()">
		<!--<div ng-include src="'/templates/users/_form.html'"></div>-->
		<div class="form-group">
		    <label class="control-label col-md-2">detalle <span class="required">* </span> </label>
		    <div class="col-md-10">
		        <input type="text" name="code" class="form-control" ng-model="atq.detail" required placeholder="Accion terapeutica"/>
		    </div>
		</div>

		<div class="form-group">
		    <div class="pull-right">
		  		<a class="btn btn-default" href="/#/atqs">Volver</a>
		        <button class="btn btn-primary" type="submit">Registrar</button>
		    </div>
		</div>

		</form>           
    </div>
</div>
</div>
