<div class="row">
    <div class="panel">
        <div class="panel-header">
            <strong>Accion Terapeutica</strong>
        </div>
        <div class="panel-content" ng-model="atq">
        
        <div class="btn-group">
          <a ng-model="atq" class="btn btn-primary" href="#atqs/{{atq.id}}/asignar"> asignar nuevo ATQ </a>
          <a ng-if="isAdmin" class="btn btn-primary" href="{{'#/atqs/'+ atq.id+ '/edit'}}">editar</a>
          <button ng-if="isAdmin" class="btn btn-danger" ng-click="deleteAtq(atq.id)">eliminar</button>
        </div>

        <section class="container">
            <h2>{{atq.detail}}</h2>
            <h3>Productos:</h3>
        </section>
            <div class="pre-scrollable">
        <table class="container table table-striped">
            <tr>
                <th>code</th>
                <th>comercial name</th>
                <th>generic name</th>
                <th>unit cost</th>
            </tr>
            <tr ng-click="verProducto(product.id)" ng-repeat="product in atq.Have_products">
                <td>{{product.code}}</td>
                <td>{{product.comercialname}}</td>
                <td>{{product.genericname}}</td>
                <td>{{product.unitprice}}</td>
            </tr>
        </table>
            </div>
        <a class="btn btn-default" href="/#/atqs">Volver</a>
        </div>
    </div>
</div>

