<div class="form-group" ng-class="{'has-error': submitted && productForm.code.$error.required}">
    <label class="control-label col-md-3">Codigo <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="code" class="form-control" ng-model="product.code" required placeholder="Codigo"/>
    </div>

    <p ng-show=" submitted && productForm.code.$error.required" class="help-block">Codigo requerido.</p>
    
</div>

<div class="form-group" ng-class="{'has-error': submitted && productForm.comercialname.$error.required}">
    <label class="control-label col-md-3">Nombre comercial <span class="required"> *</span></label>
    <div class="col-md-4">
        <input type="text" name="comercialname" class="form-control" ng-model="product.comercialname" required placeholder="Nombre comercial"/>
    </div>
    <p ng-show="submitted && product.comercialname.$error.required" class="help-block">Nombre comercial requerido. </p>

</div>

<div class="form-group" ng-class="{'has-error' : submitted && productForm.genericname.$error.required}">
    <label class="control-label col-md-3">Nombre generico <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="genericname" class="form-control" ng-model="product.genericname" required placeholder="Nombre generico"/>
    </div>
    <p ng-show="submitted && productForm.genericname.$error.required" class="help-block">Nombre generico requerido.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && productForm.company_id.$error.required}">
    <label class="control-label col-md-3">Linea<span class="required">* </span> </label>
    
    <div class="col-md-4">
        <div ng-controller="companyAutoCompleteCtr as ctrl" layout="column" ng-cloak>
            <md-content>
            <form>
            <md-autocomplete
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="product.company_id = item.id"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.line"
                md-min-length="0"
                placeholder="Linea ?">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.line}}</span>
                </md-item-template>
                <md-not-found>
                    <a ng-click="ctrl.newCompany(ctrl.searchText)">Crear linea "{{ctrl.searchText}}" ?</a>

                </md-not-found>
            </md-autocomplete>
            </form>
            </md-content>
        </div>
    </div>
    <p ng-show="submitted && productForm.company_id.$error.required" class="help-block">company id requerido.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && productForm.unitprice.$error.required}" >
    <label class="control-label col-md-3">Precio unitario</label>
    <div class="col-md-4">
        <input type="number" name="unitprice" class="form-control" ng-model="product.unitprice" required placeholder="BS"/>
    </div>
    <p ng-show="submitted && productForm.unitprice.$error.required" class="help-block">Precio requerido.</p>

</div>

<div class="form-group">
        <a class="btn btn-default" href="/#/products/">Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Registrar</button>
</div>





