<!DOCTYPE html>
<html ng-app="myapplication">
<head>
  <title>Rails4CrudWithAngularjs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] + ':${2:35729}/livereload.js?snipver=1"></' + 'script>')</script>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <!--<a class="navbar-brand">Farmacia</a>-->
            <img class="img-brand" src="/images/brand.png"/>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="text-navbar" href="#/products"><strong>Productos</strong></a></li>
                <li><a class="text-navbar" href="#"><strong>Ventas</strong></a></li>
                <li><a class="text-navbar" href="#/lots"><strong>Almacen</strong></a></li>
            </ul>
        </div>
    </nav>

    <div class="container" ng-view>
        <%= yield %>
        <br>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Software de gestion de Farmacias.</p>
        </div>
    </footer>
</body>
</html>
